src/.vs/config/applicationhost.config
src/.vs/PSIOG.Workbench/v15/.suo
src/PSIOG.Workbench/.vs/config/applicationhost.config
src/PSIOG.Workbench/bin/
src/PSIOG.Workbench/obj/
src/PSIOG.WorkbenchAPI/obj/
src/node_modules/
src/packages/
src/PSIOG.WorkbenchAPI/node_modules/
src/.vs/PSIOG.Workbench/v14/
