<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>           
            <li ng-class="{active: collapseVar==3}">
                {{dropDown}}
                <a href="" ng-click="check(3)">
                    <i class="fa fa-wrench fa-fw"></i>Business Flows<span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level" collapse="collapseVar!=3">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.CreateFlowChart">Create Flows</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.ModifyFlowChart">Modify Flows</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.ViewFlowChart">View Flows</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
           <li ng-class="{active: collapseVar==1}">
                <a href="" ng-click="check(1)"><i class="fa fa-sitemap fa-fw"></i>Quality Management<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.generateTests">Generate Test Flows</a>
                    </li>                    
                </ul>
                <!-- /.nav-second-level -->
            </li>    
            <li ng-class="{active: collapseVar==2}">
                {{dropDown}}
                <a href="" ng-click="check(2)">
                    <i class="fa fa-wrench fa-fw"></i>User Training<span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.CreateUsability">Create Usability Texts</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.ViewPresentations">View Usability Presentations</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



