<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Flowchart</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Create New
                </div><div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group">
                                    <label>FileName</label>
                                    <input class="form-control" placeholder="Enter text">
                                </div>

                            
                            </form>
                        </div>
                        <div class="col-lg-12">
                            <form role="form">
                                <div class="form-group">
                                    <!--<div ng-controller="flowchartcontroller as  vm" data-ng-init="vm.loadgojs()">
                                        </div>-->
                                        <div ng-controller="flowchartcontroller as vm" data-ng-init="vm.loadgojs()">
                                            <div id="sample">
                                                <div style="width:100%; white-space:nowrap;">
                                                    <span style="display: inline-block; vertical-align: top; width:100px">
                                                        <div id="myPaletteDiv" style="border: solid 1px black; height: 460px"></div>
                                                    </span>

                                                    <span style="display: inline-block; vertical-align: top; width:80%">
                                                        <div id="myDiagramDiv" style="border: solid 1px black; height: 460px"></div>
                                                    </span>
                                                </div>
                                                <!--<p>
                                                    The FlowChart sample demonstrates several key features of GoJS,
                                                    namely <a href="../intro/palette.html">Palette</a>s,
                                                    <a href="../intro/links.html">Linkable nodes</a>, Drag/Drop behavior,
                                                    <a href="../intro/textBlocks.html">Text Editing</a>, and the use of
                                                    <a href="../intro/templateMaps.html">Node Template Maps</a> in Diagrams.
                                                </p>
                                                <p>
                                                    Mouse-over a Node to view its ports.
                                                    Drag from these ports to create new Links.
                                                    Selecting Links allows you to re-shape and re-link them.
                                                    Selecting a Node and then clicking its TextBlock will allow
                                                    you to edit text (except on the Start and End Nodes).
                                                </p>-->
                                                <br />
                                                <button  class="SaveButton btn btn-success" onclick="save()">Save</button>
                                                <button onclick="load()" class="btn btn-info">Load</button>
                                                <!--Diagram Model saved in JSON format:-->
                                                <textarea id="mySavedModel" style="width: 100%; height: 300px; display:none" >
{ "class": "go.GraphLinksModel",
  "linkFromPortIdProperty": "fromPort",
  "linkToPortIdProperty": "toPort",
  "nodeDataArray": [ 
{"category":"Start", "text":"Start", "key":-1, "loc":"-317 -502"},
{"text":"Process", "figure":"Rectangle", "tetx":"Process", "key":-2, "loc":"-317 -418"},
{"text":"???", "figure":"Diamond", "key":-3, "loc":"-317 -273"},
{"category":"Input", "figure":"Input", "text":"Input", "key":-4, "loc":"-317 -349"},
{"category":"End", "text":"End", "key":-6, "loc":"-315 -164"}
 ],
  "linkDataArray": [ 
{"from":-1, "to":-2, "fromPort":"B", "toPort":"T", "points":[-317,-476.79069767441854,-317,-466.79069767441854,-317,-455.5453488372093,-317,-455.5453488372093,-317,-444.3,-317,-434.3]},
{"from":-2, "to":-4, "fromPort":"B", "toPort":"T", "points":[-317,-401.7,-317,-391.7,-317,-383.5,-317,-383.5,-317,-375.3,-317,-365.3]},
{"from":-4, "to":-3, "fromPort":"B", "toPort":"T", "points":[-317,-332.7,-317,-322.7,-317,-318.9,-317,-318.9,-317,-315.1,-317,-305.1]},
{"from":-3, "to":-6, "fromPort":"B", "toPort":"T", "visible":true, "points":[-317,-240.90000000000003,-317,-230.90000000000003,-317,-212.87441860465117,-315,-212.87441860465117,-315,-194.84883720930233,-315,-184.84883720930233]}
 ]}
  </textarea>
                                                <!--<p>
                                                    Click the button below to render the current GoJS Diagram into SVG at one-half scale.
                                                    The SVG is not interactive like the GoJS diagram, but can be used for printing or display.
                                                    For more information, see the page on <a href="../intro/makingSVG.html">making SVG</a>.
                                                </p>
                                                <button onclick="makeSVG()">Render as SVG</button>
                                                <div id="SVGArea"></div>-->
                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                     
                        </div>
                    <!-- /.row (nested) -->
                </div>
             

            </div>
        </div>

    </div>
</div>
