
<script src="../../scripts/directives/genAndView/genAndView.js"></script>
<div class="panel-body">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

            <div id="pastexml" ng-show="pastexml">

                <div style="float:right">
                    <label class="switch">
                        <input type="checkbox" ng-click="toggleJsonXml()">
                        <div class="slider round"></div>
                    </label>
                </div>

                <div style="float:left">
                    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing" ng-show="!jsonxmltoggle">
                        <h4 class="mdl-cell mdl-cell--12-col">Paste the XML content</h4>

                        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                            <textarea ng-model="xmlpaste" rows="6" cols="100"></textarea>
                            <br />
                        </div>
                        <div>
                            <button id="generatebuttonJSON" class="mdl-button" style="color:black" ng-click="clickedGenerateJSON(false)">Click to Generate Test Cases</button>
                        </div>


                    </div>


                    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing" ng-show="jsonxmltoggle">
                        <h4 class="mdl-cell mdl-cell--12-col">Pick the JSON file!</h4>

                        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                            <!--<select id="jsonpicker" ng-model="jsonpicker" ng-options="file for file in jsonfiles"> {{file}}</select>-->
                            <flowchartddl></flowchartddl>

                            <br />
                            <br /><br />
                            <!--<div>
                                <h5>Pick a file from Google Drive</h5>

                                <button id="authorize-button" style="display: none;">Authorize</button>
                                <button id="signout-button" style="display: none;">Sign Out</button>

                                <pre id="content"></pre>


                            </div>-->
                        </div>
                        <div>
                            <button id="generatebutton" class="mdl-button" style="color:black" ng-click="clickedGenerateJSON(false)">Click to Generate Test Cases</button>
                        </div>


                    </div>

                </div>


            </div>




            <div class="mdl-card mdl-cell mdl-cell--12-col" id="loader" ng-show="loader">
                <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                    <h4 class="mdl-cell mdl-cell--12-col">Generating Test Cases..</h4>

                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">

                        <img style="height:150px; margin-left:35%" src="https://d13yacurqjgara.cloudfront.net/users/82092/screenshots/1073359/spinner.gif" />

                    </div>
                </div>


            </div>


            <div class="mdl-card mdl-cell mdl-cell--12-col" ng-show="results">
                <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                    <div>

                        <h3>Results</h3>

                        <div ng-click="goBack()" style="float:right">
                            Close
                        </div>
                    </div>

                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">

                        <div>
                            <div style="width:50%">
                                <h4 id="numberofresults"></h4>
                            </div>
                            <!-- <div class="mdl-card__actions" style="background-color:#9CCC65; width:25%">
                             <button class="mdl-button">
                             Export .csv!
                             </button>
                            </div> -->

                            <div style="background-color:lightgrey ">
                                Select the starting node

                                <select id="startNode" ng-model="startNode" ng-change="nodeList()"></select>

                                Select the ending node
                                <select id="endNode" ng-model="endNode" ng-change="nodeList()"></select>


                                <button id="resetFilters" class="mdl-button" ng-click="clickedGenerate(true)">
                                    Reset filters
                                </button>
                            </div>


                        </div>
                        <br />
                        <!-- <details>
                          <summary><p>View here</p></summary>
                          <p><ul id="testcases"></ul></p>
                        </details> -->
                        <table id="testCaseTable" class="display" width="100%"></table>
                        <p><ul id="testcases"></ul></p>




                    </div>
                    <br>
                    <!-- <div class="mdl-card__actions" style="background-color:#9CCC65" >
                      <button id="back" class="mdl-button" style="color:black" onclick="goBack()"><a href="#generator">Back</a>
                      </button>
                    </div> -->
                </div>


            </div>

        </section>



</div>

<div id="myCarousel" class="carousel slide" ng-show="showcar">

        <ol class="carousel-indicators" id="List"></ol>

        <div class="carousel-inner" id="carousel-inner">
            <!--   <div class="item active">
                  <!-- Set the first background image using inline CSS below. -->
            <!--     <div class="fill" style="background:lightblue"></div>
                <div class="carousel-caption">
                    <h2>Crewlink Flow</h2>
                </div>
            </div> -->

        </div>


        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

  </div>
    <div>
        <button id="ShowHide" onclick="ShowHide()">Show / Hide Markers</button></div>


    </div>



<!--CSS-->

<style>
#myCarousel{
  color:#fff;
  font: 14px/1.4 sans-serif;
  position: fixed;
  z-index: 9999; /*999999*/
  top: 24px; /* since we cannot use padding */
  left: 24px;
  bottom: 24px;
  right: 24px;
  background: rgba(0,0,0, 0.8) none no-repeat 50% 50% / contain;
  box-shadow: 0 0 0 24px rgba(0,0,0, 0.8);
  -webkit-transition: 0.3s;
          transition: 0.3s;
  opacity: 0; 
  visibility: hidden;
}
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill , .images{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    
}
.carousel-control:focus, .carousel-control:hover {
    width: 5%;
   
}

.carousel-control {
    width: 5%;
   
}
#ShowHide{
    width: 150px;
    position : absolute;
    top: 95%;
    left :89%;
    height: 25px;
    background-color: black;
    color: white;
    border-radius : 4px;
}
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .wrap {
        width: 85%;
    }
</style>