<div id="myModal" class="modal modalpopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span data-dismiss="modal" class="close">&times;</span>
                <h3 class="modal-title">Block Assets</h3>
            </div>
            <!-- Modal content -->
            <div class="modal-body">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist" id="tabContent">
                        <li><a href="#uploadFile" onclick="return ShowDivs();" data-toggle="tab">File Upload</a></li>
                        <li class="active"><a href="#details" onclick="return loadImagesAsList();" id="ListTab" data-toggle="tab">File List View</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade " id="uploadFile">
                            <div id="FileUploadDiv">
                                <div class="smallUploadBox">
                                    <input type="file" id="fileUpload" />
                                    <br />
                                    <!--ng-click="UploadFile()"-->
                                    <button class="btn-primary " ng-click="UploadFile()">Upload</button>
                                    <button class="btn-primary " onclick="CanceluploadFile()">Cancel</button>
                                </div>
                                <div class="widget-body">
                                    <span id="spnKey" style="display: none"></span>
                                    <a href="#"><span class="large label tag label-primary"><span id="spnText"></span></span></a>
                                </div>
                                <div id="viewError">
                                    <h6>No views to show.</h6>
                                </div>
                                <div id="imageLoader" style="align-content: center; display: none">

                                    <img src="img/ellipsis.gif" style="" />
                                </div>
                            </div>

                            <div id="viewList" class="sortable">
                            </div>
                        </div>
                        <div class="tab-pane fade active" id="details">
                            <div id="ListView" class="sortable"></div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" ng-click="updateJSONData()">Save</button>
                            </div>
                        </div>
                        <div id="divAssets" style="display: none">
                            <table id="tableAssets" style="border: 1px solid; display: none" border="1"></table>
                            <br />
                        </div>
                        <pre id="content" style="display: none"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>